{% extends 'basedonnees/main.html' %}
{% block title %}
Avions
{% endblock %}

{% block title2 %}
Saisie d'un nouvel Avion
{% endblock %}

{% block article1 %}
    <article>
        <form method="post" action="/traitementavions/">
    {% csrf_token %}
    {{form.as_ul}}
    <input type="submit" value="envoyez les données"/>
        </form>
        </form>
    </article>
{% endblock %}

{% block article2 %}
    <nav class="navFORM">
            <a href="/indexavions/" style="color: black"> Liste des Avions </a>
	</nav>
{% endblock %}