{% extends 'basedonnees/main.html' %}
{% block title %}
Planes
{% endblock %}

{% block title2 %}
Add an new Planes
{% endblock %}

{% block article1 %}
    <article>
        <form method="post" action="/traitementavions/">
    {% csrf_token %}
    {{form.as_ul}}
    <input type="submit" value="Send data"/>
        </form>
        </form>
    </article>
{% endblock %}

{% block article2 %}
    <nav class="navFORM">
            <a href="/indexavions/" style="color: black"> List of Planes </a>
	</nav>
{% endblock %}