{% extends 'basedonnees/main.html' %}
{% block title %}
Avions
{% endblock %}

{% block title2 %}
Liste des Avions
{% endblock %}

{% block article1 %}
<ol>
    {% for avions in liste %}
    <li class="indexaff2"> <div class="listeindex"> {{avions}} </div>
        <article class="indexaff">
            <a class="boutons" href="/updateavions/{{avions.id}}/" style="color:#000000"> Update </a>
            <a class="boutons" href="/afficheavions/{{avions.id}}/" style="color:#000000"> Other informations </a>
            <a class="boutons" href="/deleteavions/{{avions.id}}/" style="color:#000000"> Delete </a>
        </article>
    </li>
    {% endfor %}
</ol>
{% endblock %}

{% block article2 %}

{% endblock %}