{% extends 'basedonnees/main.html' %}
{% block title %}
Avions
{% endblock %}

{% block title2 %}
Liste des Avions
{% endblock %}

{% block article1 %}
<ol>
    {% for avions in liste %}
        <li> {{avions}} <a href="/updateavions/{{avions.id}}/" style="color:#000000"> Update <a href="/afficheavions/{{avions.id}}/" style="color:#000000"> Other informations </a><a href="/deleteavions/{{avions.id}}/" style="color:#000000"> Delete </a></a></li>
    {% endfor %}
</ol>
{% endblock %}

{% block article2 %}

{% endblock %}