{% extends 'basedonnees/main.html' %}
{% block title %}
Airports
{% endblock %}

{% block title2 %}
Add an new Airport
{% endblock %}

{% block article1 %}
    <article>
        <form method="post" action="/traitement/">
    {% csrf_token %}
    {{form.as_ul}}
    <input type="submit" value="Send data"/>
        </form>
        </form>
    </article>
{% endblock %}

{% block article2 %}
    <nav class="navFORM">
            <a href="/indexaeroport/" style="color: black"> List of Airports </a>
	</nav>
{% endblock %}