{% extends 'basedonnees/main.html' %}
{% block title %}
Aéroport
{% endblock %}

{% block title2 %}
Saisie d'un nouvel Aeroport
{% endblock %}

{% block article1 %}
    <article>
        <form method="post" action="/traitement/">
    {% csrf_token %}
    {{form.as_ul}}
    <input type="submit" value="envoyez les données"/>
        </form>
        </form>
    </article>
{% endblock %}

{% block article2 %}
    <nav class="navFORM">
            <a href="/indexaeroport/" style="color: black"> Liste des Aeroports </a>
	</nav>
{% endblock %}