{% extends 'basedonnees/main.html' %}
{% block title %}
Aéroport
{% endblock %}

{% block title2 %}
Liste des Aeroports
{% endblock %}

{% block article1 %}
<ol>
    {% for aeroport in liste %}
        <li> {{aeroport}} <a href="/update/{{aeroport.id}}/" style="color:#000000"> Update </a><a href="/affiche/{{aeroport.id}}/" style="color:#000000"> Other informations </a><a href="/delete/{{aeroport.id}}/" style="color:#000000"> Delete </a></li>
    {% endfor %}
</ol>
{% endblock %}

{% block article2 %}

{% endblock %}

