
h1 {
     color: lightblue;
     font-family:Calibri;
}

.bodyFORM{

	background-image:url("/static/images/Sky.jpg") ;
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #002c4d;

}

.grandtitreFORM{
	text-align: center;
	font-size: 275%;
	margin-top: -0.75%;
	padding-top: 1.25%;
	margin-bottom: 1%;

}
.article1{
    background-color: white;
    border-radius: 10px;
	box-shadow:2px 2px 6px rgba(0,0,0,0.3);
	border:2px solid black;
	padding-left: 2.5%;
	padding-right: 2.5%;
	padding-top: 1.0%;
	padding-bottom: 2%;
	margin-left: 10% ;
	margin-right: 10% ;
	margin-top:1.5%;

}

.article1 li {
    padding-top: 1.5%;

}
.indexaff2{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/*.article1 {
     background: linear-gradient(219deg, #04f3d6, #04f1f3, #04dcf3, #04d1f3, #04bcf3);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:88% 0%}
    50%{background-position:13% 100%}
    100%{background-position:88% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:88% 0%}
    50%{background-position:13% 100%}
    100%{background-position:88% 0%}
}
@keyframes AnimationName {
    0%{background-position:88% 0%}
    50%{background-position:13% 100%}
    100%{background-position:88% 0%}
}
*/
:root{
	--hauteur-menu: 60px;
}
* {
	margin: 0px;
	padding: 0px;
    font-family: 'Poppins', sans-serif;
}
nav {
	width: 100%;
	font-size: 18px;
	position: sticky;
	top: 0;
}
nav > ul {
	display: flex;
	text-align: center;
	box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
	height: var(--hauteur-menu);
}

nav ul {
	list-style-type: none;
}
  
nav > ul > li {
	background-color: white;
	position: relative;
	height: 100%;
	flex: 1;
}
nav > ul > li > a {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
  
.menu-deroulant a {
	text-decoration: none;
	color: black;
}

  
.menu-deroulant > a:after{
	content: '❯';
	font-size: 15px;
	margin-left: 7px;
	display: inline-block;
}


.sous-menu{
	margin-top: var(--hauteur-menu);
	width: 100%;
	text-align: left;
	background-color: white;
	border-radius: 2px;
	overflow: hidden;
	max-height: 0;
}
  
.sous-menu > li > a {
	height: 50px;
	padding-left: 20px;
	width: 100%;
	align-items: center;
	display: flex;
}


nav > ul > li:hover > a{
	color: #2169EC;
}
  
.sous-menu > li:hover {
	background-color: rgba(33, 105, 236, 0.3);
}

  
.sous-menu > li:hover > a {
	color: white;
}

  
  
@keyframes rotationFleche {
	0%{
	  transform: rotate(0deg);
	}
	100%{
	  transform: rotate(90deg);
	}
}

.menu-deroulant:hover > a:after{
	animation: rotationFleche 0.2s linear forwards;
}


@keyframes apparitionSousMenu {
	0% {
	  box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
	  border-top: 3px solid #2169EC;
	}
	30% {
	  box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
	}
	100% {
	  max-height: 50em;
	  border-top: 3px solid #2169EC;
	  box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
	}
}
.menu-deroulant:hover > .sous-menu {
	animation: apparitionSousMenu 1s forwards;
}


img{
    width: 150px;
    transition: transform .1s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;

}

img:hover{
-ms-transform: scale(1.5);
-webkit-transform: scale(1.5);
transform: scale(1.5);
}

.bigimg{
    height : 40%;
    width : 40%;
}
.formulaire {
    width: 30%;
    margin-left: 35%;
    text-align: center;
    font-size: 20px;
}
input {
    height: 20px;
    width: 100%;
    border-radius: 7px;
}

.indexaff{
    background-color: ;
    display: flex;
    justify-content: space-between;
    width: 35%;
    margin: 10px 10px;
    font-size: 15px;
}
.boutons{
    border:2px solid black;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    width: 150px;
    border-radius: 10px;

}
.listeindex{
    width: 60%;
    font-size: 17px;
}
/*testhjuikafzedgddsdsfshjkafzegliug  sfdvsdvsdvfdsdfsdfsdfsf azefdliu    dfg aefzlugfihzefaliuokfeg*/
/*DERNIèRE VERSION DANIEL DEMIRBAG*/