{% extends 'basedonnees/main.html' %}
{% block title %}
Runways
{% endblock %}

{% block title2 %}
Add a new Runway
{% endblock %}

{% block article1 %}
    <article>
        <form method="post" action="/traitementpistes/">
    {% csrf_token %}
    {{form.as_ul}}
    <input type="submit" value="Send data"/>
        </form>
        </form>
    </article>
{% endblock %}

{% block article2 %}
    <nav class="navFORM">
            <a href="/indexpistes/" style="color: black"> List of Runways </a>
	</nav>
{% endblock %}