{% extends 'basedonnees/main.html' %}
{% block title %}
Pistes
{% endblock %}

{% block title2 %}
Saisie d'une nouvelle Piste
{% endblock %}

{% block article1 %}
    <article>
        <form method="post" action="/traitementpistes/">
    {% csrf_token %}
    {{form.as_ul}}
    <input type="submit" value="envoyez les données"/>
        </form>
        </form>
    </article>
{% endblock %}

{% block article2 %}
    <nav class="navFORM">
            <a href="/indexpistes/" style="color: black"> Liste des Pistes </a>
	</nav>
{% endblock %}