{% extends 'basedonnees/main.html' %}
{% block title %}
Types d'Avions
{% endblock %}

{% block title2 %}
Saisie d'un nouveau type d'Avion
{% endblock %}

{% block article1 %}
    <article>
        <form method="post" action="/traitementtypesavions/" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_ul}}
    <input type="submit" value="envoyez les données"/>
        </form>
        </form>
    </article>
{% endblock %}

{% block article2 %}
    <nav class="navFORM">
            <a href="/indextypesavions/" style="color: black"> Liste des Types d'Avions </a>
	</nav>
{% endblock %}