{% extends 'basedonnees/main.html' %}
{% block title %}
Flights
{% endblock %}

{% block title2 %}
Add a new Flights
{% endblock %}

{% block article1 %}
    <article>
        <form method="post" action="/traitementvols/">
    {% csrf_token %}
    {{form.as_ul}}
    <input type="submit" value="Send data"/>
        </form>
        </form>
    </article>
{% endblock %}

{% block article2 %}
    <nav class="navFORM">
            <a href="/indexvols/" style="color: black"> List of Flights </a>
	</nav>
{% endblock %}