{% extends 'basedonnees/main.html' %}
{% block title %}
Companies
{% endblock %}

{% block title2 %}
Add an new Compagny
{% endblock %}

{% block article1 %}
    <article>
        <form method="post" action="/traitementcompagnies/">
    {% csrf_token %}
    {{form.as_ul}}
    <input type="submit" value="Send data"/>
        </form>
        </form>
    </article>
{% endblock %}

{% block article2 %}
    <nav class="navFORM">
            <a href="/indexcompagnies/" style="color: black"> List of Companies </a>
	</nav>
{% endblock %}