{% extends 'basedonnees/main.html' %}
{% block title %}
Compagnies
{% endblock %}

{% block title2 %}
Liste des Compagnies
{% endblock %}

{% block article1 %}
<ol>
    {% for compagnies in liste %}
    <li class="indexaff2"> <div class="listeindex">{{compagnies}} </div>
            <article class="indexaff">
        <a class="boutons" href="/updatecompagnies/{{compagnies.id}}/" style="color:#000000"> Update </a>
        <a class="boutons" href="/affichecompagnies/{{compagnies.id}}/" style="color:#000000"> Other informations </a>
        <a class="boutons" href="/deletecompagnies/{{compagnies.id}}/" style="color:#000000"> Delete </a>
            </article>
    </li>
    {% endfor %}
</ol>
{% endblock %}

{% block article2 %}

{% endblock %}