{% extends 'basedonnees/main.html' %}
{% block title %}
Compagnies
{% endblock %}

{% block title2 %}
Liste des Compagnies
{% endblock %}

{% block article1 %}
<ol>
    {% for compagnies in liste %}
        <li> {{compagnies}} <a href="/updatecompagnies/{{compagnies.id}}/" style="color:#000000"> Update </a><a href="/affichecompagnies/{{vols.id}}/" style="color:#000000"> Other informations </a><a href="/deletecompagnies/{{vols.id}}/" style="color:#000000"> Delete </a></li>
    {% endfor %}
</ol>
{% endblock %}

{% block article2 %}

{% endblock %}